body{
    font-family: "Monserrat", sans-serif;
    color: cadetblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Monserrat", sans-serif;
    font-weight: 900;
}

.header, .footer {
    background-color: brown;
    color: aliceblue;
}

#header .container-fluid {
    padding: 2% 10% 7%;
}

.nav-item {
    padding: 0 18px;
}

.header-content {
    padding-top: 2rem;
}

h1 {
    font-size: 3.5rem;
}

.dowload-btn {
    margin: 5% 3% 5% 0;

}

.title-img {
    width: 55%;
    transform: rotate(20deg);
}

.container-fluid {
    padding: 7% 10%;

}

.features img {
    width: 70px;
}